    @font-face {
        font-family: 'folty'; 
        src: url('fonts/folty-semi-bold.otf') format('opentype');
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'folty', sans-serif;
        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none;  
    }

    html {
        scroll-behavior: smooth;
    }

    #container {
        height: 100vh;
        background: url("img/font2.png");
        background-position: center;
        background-size: cover;
        padding: 1em 10%;
    }

    a {
        box-shadow: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        position: fixed;
    }

    .logo-menu {
        display: flex;
        align-items: center;
        margin-left: -20vh;
    }

    .logo img {
        height: 75px;
    }

    .menu {
        display: flex;
        list-style: none;
    }

    .menu li {
        margin: 0 1em;
    }

    .menu li a {
        text-decoration: none;
        text-transform: capitalize;
        color: #DC143C;
        padding: 0.2em 0;
        position: relative;
    }

    .menu li a:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0.2em;
        background: #DC143C;
        transition: width 500ms ease;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .auth {
        display: flex;
        margin-left: auto;
        margin-right: 5vh;
    }

    .auth a {
        background-color: #DC143C;
        color: white;
        padding: 10px 20px; 
        border-radius: 25px;
        margin-left: 10px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .auth a:hover {
        background-color: #99082c;
        transform: scale(1.1); 
    }

    .text-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .text-button {
        align-self: center;
    }

    .text-button p {
        color: #DC143C;
        height: 5vh;
        font-size: 35px;
    }

    .button {
        margin-top: 10vh; 
        padding: 10px 20px; 
        font-size: 16px; 
        width: 200px;
        background-color: transparent;
        color: #DC143C; 
        border: 2px solid #DC143C; 
        border-radius: 25px; 
        transition: background-color 0.5s ease;
    }

    .button:hover {
        background-color: #DC143C; 
        color: white; 
    }

    .sticky {
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        z-index: 100;
        position: fixed;
        text-align: center;
    }
    
    .logo-menu {
        display: flex;
        align-items: center;
        margin: 0 auto; /* Centre le menu */
    }
    
    .sticky .logo-menu {
        margin-left: 0; 
    }
    
    .menu {
        display: flex;
        list-style: none;
        justify-content: center; /* Centre le contenu de la navbar */
    }
    

/* 
=================================================================
Produits Slider
=================================================================
*/

.product-slider .product {
        background: white;
        border-radius: 15px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 20px;
        text-align: center;
        height: 50vh;
        max-width: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .product-slider .product img {
        height: 50%;
        object-fit: cover;
        margin: auto;
    }

    .product-slider .product {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-slider .product .text-container {
        margin-top: 8vh;
        text-align: center;
    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        color: #333;
        font-size: 2em;
        padding: 0.25em 0.5em;
        cursor: pointer;
        z-index: 1;
    }

    .slick-prev {
        left: -5px;
        color: #DC143C;
        z-index: 6;
    }

    .slick-next {
        right: -5px; 
        color: #DC143C;
        z-index: 6;
    }

    #produits {
        position: relative;
    }

    .product-slider {
        position: relative;
        padding: 0 40px; 
    }
    
/* 
=================================================================
Objectifs
=================================================================
*/

    .objectif {
        background-color: #C51F4A;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    
    .objectif img {
        width: 60vh;
        height: 60vh;
        padding: 50px;
    }
    
    .separator {
        border-left: 5px solid rgb(255, 255, 255);
        height: 50%;
        padding: 30px;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }
    
    .left-content, .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 60px;
    }



/* 
=================================================================
CoFinanceur
=================================================================
*/
.cofinanceur-slider .cofinanceur {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    height: 30vh;
    max-width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cofinanceur-slider .cofinanceur img {
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.cofinanceur-slider .cofinanceur {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cofinanceur-slider .cofinanceur .text-container {
    margin-top: 8vh;
    text-align: center;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #333;
    font-size: 2em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    z-index: 1;
}

.slick-prev {
    left: -5px;
    color: #DC143C;
    z-index: 6;
}

.slick-next {
    right: -5px; 
    color: #DC143C;
    z-index: 6;
}

#cofinanceur {
    position: relative;
}

.cofinanceur-slider {
    position: relative;
    padding: 0 40px; 
}

#cofinanceur h1 {
    color: #DC143C;
    text-align: center;
    margin-top: 5vh;
}


/* 
=================================================================
Partenaires
=================================================================
*/
.partenaire-slider .partenaire {
    background: white;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    height: 30vh;
    max-width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.partenaire-slider .partenaire img {
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.partenaire-slider .partenaire {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partenaire-slider .partenaire .text-container {
    margin-top: 8vh;
    text-align: center;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #333;
    font-size: 2em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    z-index: 1;
}

.slick-prev {
    left: -5px;
    color: #DC143C;
    z-index: 6;
}

.slick-next {
    right: -5px; 
    color: #DC143C;
    z-index: 6;
}

#partenaire {
    position: relative;
}

.partenaire-slider {
    position: relative;
    padding: 0 40px; 
}

#partenaire h1 {
    color: #DC143C;
    text-align: center;
    margin-top: 5vh;
}

footer {
    background-color: #f0f0f0; /* Couleur de fond du footer (à adapter selon vos préférences) */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DC143C; /* Ligne de couleur #DC143C en haut du footer */
    color: #DC143C; /* Couleur du texte "Copyright" */
}