/* Définitions de polices */
@font-face {
    font-family: 'folty'; 
    src: url('fonts/folty-semi-bold.otf') format('opentype');
}

@font-face {
    font-family: 'folty-bold'; 
    src: url('fonts/folty-bold.otf') format('opentype');
}

@font-face {
    font-family: 'folty-light'; 
    src: url('fonts/folty-light.otf') format('opentype');
}

@font-face {
    font-family: 'folty-medium'; 
    src: url('fonts/folty-medium.otf') format('opentype');
}

/* Styles généraux */
* {
    font-family: folty-medium;
    box-sizing: border-box; /* La taille des éléments inclut les bordures et le padding */
}

.row,
.items-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles pour les blocs administratifs */
.admin-block {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    margin-bottom: 2vh;
    flex: 0 0 calc(33.3333% - 4vw);
    margin: 1vh;
    height: auto;
    min-height: 30vh;
    text-align: center;
    width: 40vw; /* Largeur des blocs */
    max-width: 100%;
    border-radius: 2vh; /* Rayon de la bordure */
}

/* Styles pour les titres des blocs */
.titre_block {
    font-family: folty-bold;
    color: #DC143C;
    font-size: 2.5vw;
    font-weight: lighter;
    margin-top: 0;
}

/* Styles pour les éléments de formulaire */
.form-control {
    background-color: #fff;
    border-radius: 1vw; /* Rayon de la bordure */
    border: 0.2vw solid #8214dc; /* Épaisseur et couleur de la bordure */
}

.custom-file-upload {
    padding: 1vh;
    cursor: pointer;
    background-color: #D9D9D9; 
    color: #000;
    border: none; 
    border-radius: 1vh; 
}

#file-name {
    margin-left: 1vw;
}

/* Styles pour les boutons */
.admin-block button {
    margin-top: 1vh;
    background-color: transparent;
    color: #DC143C;
    border: 0.2vw solid #DC143C;
    border-radius: 2vw; /* Rayon de la bordure */
    padding: 0.5vh 1vw;
    transition: background-color 0.5s ease;
}

.admin-block button:hover {
    background-color: #DC143C; 
    color: white; 
}

/* Styles pour les formulaires */
.admin-block form {
    margin-top: 2vh;
}

/* Styles pour les boutons de suppression */
.admin-block .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 1vh 2vw;
    cursor: pointer;
}


#outputproduct,
#outputpartenaire,
#outputcofi {
    margin-top: 10px;
}