@font-face {
    font-family: 'folty'; /* Vous pouvez remplacer 'MaPolicePersonnalisee' par le nom que vous voulez donner à votre police */
    src: url('fonts/folty-semi-bold.otf') format('opentype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'folty', sans-serif;
    color:#8214dc;
    
}

body {
    background-image: url('./img/piscine\ 2.webp') ;
}




form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'folty', sans-serif;
}

label, input {
    margin: 10px 0
    
}

x-input-label {
    text-align:center;
    
}

.lbl{
    text-align:center;
}

input[type="submit"] {
    margin-top: 20px;
}

input[type="password"] {
    border-radius: 20px;
    background-color: white; /* Fond blanc */
    color: #8214dc; /* Texte framboise */
    border: 2px solid #8214dc; /* Contour framboise */
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="password"]:focus {
    outline: none; /* Enlève le contour par défaut lors du focus */
    border: 2px solid #8214dc; /* Contour framboise lors du focus */
}

input[type="password"]::placeholder {
    color: gray; /* Texte en gris */
    font-size: 12px; /* Texte en petit */
}

input[type="email"]{
    border-radius: 20px;
    background-color: white; /* Fond blanc */
    color: #8214dc; /* Texte framboise */
    border: 2px solid #8214dc; /* Contour framboise */
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="email"]:focus {
    outline: none; /* Enlève le contour par défaut lors du focus */
    border: 2px solid #8214dc; /* Contour framboise lors du focus */
}

input[type="email"]::placeholder {
    color: gray; /* Texte en gris */
    font-size: 12px; /* Texte en petit */
}




img {
    width: 50vh; /* Ajustez cette valeur selon la taille souhaitée */
}
